@{
    ViewBag.Title = "Paul's Home Page";
}

<div class="jumbotron">
    <h1>Paul's Second Hand Bicycle Parts</h1>
    <p class="lead">This is a test site for testing all things security...the second hand bicycle parts is a front!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SQL injection</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="~/Home/../Customers">Display customers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cross Site Scripting</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="">Still constructing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Denial of Service Attack</h2>
        <p>...</p>
        <p><a class="btn btn-default" href="">Still constructing &raquo;</a></p>
    </div>
</div>